h1 {
    color: #191e50;
}

form h2 {
font-size: 27px;
text-align: center;
margin: 0px 0 30px;
}

form .form-group {
margin-bottom: 15px;
position: relative;
}

form label {
display: block;
font-size: 15px;
margin-bottom: 7px;
}

form input,
form select {
height: 45px;
padding: 10px;
width: 100%;
font-size: 15px;
outline: none;
background: #fff;
border-radius: 3px;
border: 1px solid #bfbfbf;
}

form input:focus,
form select:focus {
border-color: #00baf2;
}

input[type="checkbox"] {
position: relative;
top: 0;
left: 0;
height: 15px;
width: 15px;
background-color: #eee;
}

form input.error,
form select.error {
border-color: #f91919;
background: #f9f0f1;
}

form small {
font-size: 14px;
margin-top: 5px;
display: block;
color: #f91919;
}

button {
    background-color: #191e50;
    color: #fff;
    border: none;
    padding: 8px;
    width: 100%;
}

button:hover {
    background-color: rgb(13, 19, 88);
}

.texto-rodape {
text-align: center;
font-size:12px;
}